# Extracting keywords from text

To retrieve the text back from a database, things like the name of the student or a name of a subject or the year are important clues to be used, so we would use NLTK to exract these keywords from text already gotten from the images.

In [4]:
import pandas as pd
from pathlib import Path

In [5]:
extractedValData = pd.read_csv("val_data.csv")
extractedValData

,file_name,extracted_information,class_name
0,ID (1).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nALABI TOSIN,school_id
1,ID (10).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nPETER JOHN,school_id
2,ID (3).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nDAVID INO,school_id
3,ID (4).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nEU JAMES,school_id
4,ID (5).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\npeace BA...,school_id
5,ID (7).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nVICTOR O...,school_id
6,ID (8).txt,CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\neee CHID...,school_id
7,french_participation (5).txt,Chapel Science High School awards\n\nfor parti...,french_club_award
8,french_participation (6).txt,Chapel Science High School awards\n\nfor parti...,french_club_award
9,french_participation (7).txt,Chapel Science High School awards\n\nfor parti...,french_club_award
10,french_participation (8).txt,Chapel Science High School awards\n\nfor parti...,french_club_award
11,jets_participation (3).txt,THIS CERTIFIES THAT\n\nParticipated in the act...,jet_club_award
12,jets_participation (5).txt,THIS CERTIFIES THAT\n\nParticipated in the act...,jet_club_award
13,jets_participation (8).txt,THIS CERTIFIES THAT\n\nParticipated in the act...,jet_club_award
14,jets_participation.txt,THIS CERTIFIES THAT\n\nParticipated in the act...,jet_club_award
15,result (1).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Tol...,report_card
16,result (12).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Moh...,report_card
17,result (14).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Aze...,report_card
18,result (4).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Tom...,report_card
19,result (5).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Gra...,report_card
20,result (6).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Bak...,report_card
21,result (8).txt,SEMESTER RESULT\n\n \n\n \n\nStudent Name: Ama...,report_card

In [6]:
validation_sentence = extractedValData.loc[ 0 , 'extracted_information']
validation_sentence

'CHAPEL SCIENCE\n\nHIGH SCHOOL\n\n \n\nALABI TOSIN'

In [7]:
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()
from pprint import pprint

In [8]:
doc = nlp(validation_sentence)
##pprint([(X.text, X.label_) for X in doc.ents])
pprint([(X.text) for X in doc.ents])

['ALABI']